
# Dependency directories
node_modules/
jspm_packages/


# Yarn Integrity file
.yarn-integrity

# dotenv environment variables file
.env

# lock files
package-lock.json
yarn.lock

.DS_Store
.vscode
*.xslx
